<%= render partial: "layouts/header" %>
<div class="row">
	<div class="col-md-9">
		<% @pets.each do |pet| %>

			<div class="col-md-3 text-center" style="margin-right:1em; margin-bottom:1em; background-color: #f1f2f3;">
				<img src="<%= pet.thumbnail %>" width="150" height="150">
				<p><%= pet.name %></p>
			</div>

		<% end %>
	</div>
</div>


