<%= render partial: "layouts/navbar2", locals: {user: @user} %>

<div class="row" style="margin-top: 200px;">
	<div class="col-md-12">
	<% @pets.each do |pet| %>
		<% if pet.thumbnail == nil %>
			<div style="display: none;"><%= pet.species %></div>
		
		<% else %>
			<div class="col-md-3 text-center">
				<img class="pet-thumbnail" src="<%= pet.thumbnail %>" width="220" height="220">
				<p><%= link_to pet.name, pet_path(pet.id) %> </p>
			</div>
		
		<% end %>
	<% end %>

	</div>
</div>

