<div class="row">
	<div class="col-md-6">
		<h1>Contact Us</h1>
		<div style="font-size: 18px;">

			<p>Id has inciderint mediocritatem. Has cu autem incorrupte. Et mucius utroque pri, tale epicuri accumsan vis ad, ut erant volumus mea. Te eos mucius accusam, vis quod prima primis id.</p>

			<p>Vel te adhuc saepe, ius id noster ullamcorper. Cu quando tritani nam. Mea appareat necessitatibus in. Eos no suas mutat augue, error voluptua ad per.</p>
		</div>
	</div>
	<div class="col-md-6">
		<img src="assets/benefits-of-pet-2.jpg" />
	</div>
</div>
