/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .


 */
html{
	height: 100%;
}

body {
	padding-bottom: 250px;
	padding-top: 200px;
	font-size: 18px;
	min-height: 100%;
	position: relative;
}

#wrapper {
	min-height: 100%;
}

/************** background image homepage *************/	

video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	}

/***** footer ***********/

#footer {
	background-color: #773e9c;
	color: #ffffff;
	width: 100%;
	padding: 2em 0;
	position: absolute; 
	bottom: 0px; 
	height: 240px;
}

#footer a {
	color: #ffffff;
}

#footer a:hover {
	color: #ffffff;
}

/********* navbar2 *********/
.navbar-logo {
  float: left;
}

.nav-block {
  height: 80px;
  width: 80px;
  float:left;
  margin-left: 20px;
  display: inline-block;
  padding: 15px;
}
.navbar-right {
  list-style-type: none;
  margin-right: 20px;
  margin-top: 20px;
}
.white {
  color: #ffffff;
}

.white:hover { color: #ffffff; }


.icon-block {
  display: block;
  margin-bottom: 5px;
}
.white-bck {
  background-color: #ffffff;
}

.top-top {
  background-color: #dd6a0f;
  padding: 0.4em;
  border-bottom: 8px solid #ffffff;

}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #ffffff;

}

.dropdown-menu>li>a:hover {
	color: #ffffff;
}

ul.green {
	background-color: #70bf40;
	padding: 0 auto;
}

ul.green li a {
	color: #ffffff;
	background-color: transparent;
}

ul.green li a:hover {
	background-color: blue;
}

.margin-right {
	margin-right: 15px!important;
}

/********* end navbar2 *********/

.home-info {
	background-color: #ffffff;
	opacity: 0.9;
}

.intro-p {
	font-size: 20px;
	line-height: 32px;
	color: #999999;
}

.content-p {
	font-size: 18px;
	line-height: 26px;
}

/********* nav style for mobile ***********/

@media screen and (max-width: 384px) {
	body {
		padding-top: 0;
		padding-bottom: 0;
	}

	.top-top {
		display: none;
	}
	.nav-block {
		width: 100%;
		margin: 0;
	}
	nav.navbar-fixed-top {
		position: relative;
	}

	#footer {
		position: relative;
		height: auto;
	}
}

@media screen and (min-width: 460px) and (max-width: 677px) {
	body {
		padding-top: 0;
		padding-bottom: 0;
	}

	.top-top {
		display: none;
	}
	.nav-block {
		margin: 0;
	}
	nav.navbar-fixed-top {
		position: relative;
	}

	#footer {
		position: relative;
		height: auto;
	}
	.margin-right {
		margin-right: 0!important;
		margin-top: 0;
	}
	.navbar-logo img {
		transform: scale(0.5,0.5);
		margin-top: -20px;
    	margin-left: -50px;
	}
}