#modal-btn {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#formToggle {
	margin: 20px auto;
}

#formToggle2 {
	margin: 20px auto;
}

.background-img {
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.modal-button {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 40%;
	
}
