  <div id="footer">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-3 small">
          <p><strong>About</strong></p>
          <p>Pet match is a non-profit organization dedicated to connecting caring humans looking for companionship with fabulous, furry and feathery friends.</p>
        </div>
        <div class="col-sm-3 small">
          <p><strong>Shelters and Rescues</strong></p>
          <p>Check out local resources to find your next pet match:</p>
          <p>San Francisco SPCA<br>
            Pitbull Rescue</p>
        </div>
        <div class="col-sm-3 small">
          <p><strong>Contact Us</strong></p>
          <p>415.512.1234</p>
          <p>info@pet-match.org</p>
        </div>
      </div>
    </div>
  </div>